@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}

.input {
  @apply w-full px-4 py-3 rounded-xl bg-transparent border border-white/20
         text-white placeholder-gray-500 focus:outline-none
         focus:border-cyan-400 transition;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

