@import "tailwindcss";

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
